VITE_FIREBASE_API_KEY="AIzaSyXXXXXXXXXXXXXXXXXXXX_PROD"
VITE_FIREBASE_AUTH_DOMAIN="ecoscolaire-c5861.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ecoscolaire-c5861"
VITE_FIREBASE_STORAGE_BUCKET="ecoscolaire-c5861.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="000000000000"
VITE_FIREBASE_APP_ID="1:000000000000:web:00000000000"
VITE_FIREBASE_MEASUREMENT_ID="G-XXXXXXXXXX"
